@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  box-sizing: border-box;
}

/* Reset and Base Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

body {
  display: flex;
  font-size: 18px;
  justify-content: center;
  background-image: linear-gradient(90deg, #020207, #0f52aa);
  color: #ffffff;
  transition: 0.3s linear;
  overflow: hidden;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #040d1d;
  margin: 0;

  font: inherit;
  color: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid currentColor;
  border-radius: 2px;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 8px;
  height: 8px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 15px 15px #53a868;
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.App {
  width: 600px;
  padding: 30px;
  text-align: center;

  @media (max-width: 800px) {
    width: 90%;
  }

  .todo-list {
    margin: 20px auto;
    width: 100%;
    text-align: left;
  }

  .todo-item {
    padding: 15px 0 15px 20px;
    display: flex;
    flex-direction: column;

    &.priority {
      background-color: #b5382279;
    }

    &.sub-task {
      margin-left: 20px;
      border-left: none;
      border-bottom: none;
      color: #ffffff;
    }

    .completed {
      text-decoration: line-through;
      color: #999;
    }

    .todo-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input[type="checkbox"] {
        margin-right: 15px;
      }

      span {
        flex: 1;
        word-break: break-word;
      }

      .button-group {
        display: flex;
        gap: 10px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 1rem;

        &.delete-button {
          background-color: #d93838;
          color: #fff;

          &:hover {
            background-color: #b52424;
          }
        }

        &:not(.delete-button) {
          background-color: #3498db30;
          color: #ededed;

          &:hover {
            background-color: #044977;
          }
        }

        &:focus {
          outline: 2px solid rgba(52, 152, 219, 0.5);
        }
      }
    }

    .subtasks {
      margin-left: 20px;
      border-left: 1px solid #183051;
      padding-left: 15px;
    }
  }

  form {
    display: flex;
    gap: 15px;
    margin: 20px auto;
    width: 100%;

    .form-row {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 8px;
      flex: 1;

      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    .error-message {
      color: red;
      font-size: 0.9em;
      margin-top: 10px;
      padding: 10px;
    }

    input {
      flex: 1;
      padding: 0 20px;
      background-color: #74b8e629;
      border: none;
      border-radius: 20px;
      color: #ffffff;
      height: 40px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 20px;
      height: 40px;
      width: 40px;
      background-image: linear-gradient(#6f72f1, #5d7cf7);
      color: #fbfbfb;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-image: linear-gradient(#7d7fdf, #6c88f7);
      }
    }

    @media (max-width: 600px) {
      input,
      button {
        width: 100%;
        margin-left: 0;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}